body {
    background-color: #568fff;
}
button {
    display: block;
    text-align: center;
    background: #ffff;
    border: 1px solid #1e80ff;
    border-radius: 50px;
    font-size: 16px;
    color: #1e80ff;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
img {
    display: block;
    position: relative;
    margin: 0 auto;
}

/*标题*/
.title_box {
    min-height: inherit;
    position: relative;
    overflow: hidden;
    padding-top: 82px;
}
.title_title {
    font-size: 28px;
    text-align: center;
    color: #ffff;
}

/*主体部分*/
.main {
    position: relative;
    padding: 4px 32px 72px;
    width: 500px;
    height: 500px;
}
.main_title {
    position: relative;
    padding-left: 20px;
    font-size: 28px;
    line-height: 28px;
    color: rgb(194, 94, 27);
}
.game {
    position: relative;
    left: 50%;
    width: 500px;
    height: 500px;
    justify-content: center;
}
.game_header {
    font-size: 16px;
    color: #ffff;
}

.lottery_wrapper {
    min-height: inherit;
    position: relative;
    overflow: hidden;
    padding-top: 82px;
}

.item_container {
    width: 100%;
    height: 100%;
    background: #e37815;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
} 

.gift_item {
    width: 100px;
    height: 100px;
    border: 2px solid #e37815;
    border-radius: 4px;
    background: #fdf3f3;
    position: relative;
    user-select: none;
    text-align: center;
    align-items: center;
}
.image {
    height: 50px;
    width: 72px;
    display: flex;
    justify-content: center;
}
.selected {
    border: 1px solid transparent;
    box-shadow: 0 0 5px 2px #cf6a0b;
    position: relative;
    background: #cf6a0b;;
}
.lottery_item {
    width: 100px;
    height: 100px;
    border: 2px solid #e37815;
    border-radius: 4px;
    background: #ffe6a6;
    position: relative;
    text-align: center;
}
.lottery_text {
    font-size: 32px;
    line-height: 42px;
    font-weight: 600;
    color: #a74b00;
}
.text {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #d25f00;
}
.awards_list {
    padding: 10px 18px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}
