/* 黄盒子 */
.lottery{
    width: 100%;
    
}
.turntable_yellow{
    background: #fadd95;
    box-shadow: inset 0 0 16px #ff9a2e;
    border-radius: 12px;
    box-sizing: border-box;
    position: relative;
    padding: 24px;
    width: 100%;
    height: 100%;  
    height: 396px;
    width: 486px;
}
.turntable_yellow .upper-border{
    top: 0;
}
.turntable_yellow .lower-border{
    bottom: 0;
}
.turntable_yellow .left-border{
    left: 0;
}
.turntable_yellow .right-border{
    right: 0;
}
.turntable_yellow .up-down{
    position: absolute;
    left: 8px;
    display: flex;
    align-items: center;
    height: 24px;
    width: calc(100% - 16px);
    justify-content: space-between;
}
.turntable_yellow .up-down{
    position: absolute;
    left: 8px;
    display: flex;
    align-items: center;
    height: 24px;
    width: calc(100% - 16px);
    justify-content: space-between;
}
.turntable_yellow .left-right{
    position: absolute;
    top: 8px;
    display: flex;
    align-items: center;
    width: 24px;
    height: calc(100% - 16px);
    justify-content: space-between;
    flex-direction: column;
}
/*点*/
.turntable_yellow .dot{
    border-radius: 50%;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
}
.turntable_yellow .border{
    border: 1.5px solid #fff7e8;
}
.turntable_yellow .right-border .vertex {
    visibility: hidden;
}
.turntable_yellow .vertex{
    background: #e37815;
}
.turntable_yellow .up-down .left-border-dot{
    transform: translateX(-100%);
}
.turntable_yellow .white{
    background: #fff7e8;
}
.turntable_yellow .up-down .right-border-dot{
    transform: translateX(100%);
}
/* 橘盒子 */

.turntable_yellow .item-container {
    width: 100%;
    height: 100%;
    background: #e37815;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
}
